In [240]:
import pandas as pd
import numpy as np

In [241]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [243]:
x=df[['cgpa']]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [244]:
y=df[['package']]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [245]:
from sklearn.model_selection import train_test_split

In [246]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [247]:
x_train

     cgpa
134  7.20
66   5.11
26   8.31
113  6.94
168  8.65
..    ...
67   6.51
192  8.25
117  7.12
47   5.84
172  6.93

[160 rows x 1 columns]

# linear regression

In [248]:
from sklearn.linear_model import LinearRegression

In [249]:
lr=LinearRegression()

In [250]:
lr.fit(x_train,y_train)

LinearRegression()

In [251]:
a=lr.predict(x_test)

In [252]:
from sklearn.metrics import r2_score
lrr2=r2_score(y_test,a)

In [253]:
from sklearn.metrics import mean_squared_error
lrr_mse=mean_squared_error(y_test,a)
lrr_mse

0.10221131059334207

In [254]:
import numpy as np
lrr_rmse=np.sqrt(mse)
lrr_rmse

0.31970503685951224

In [255]:
from sklearn.metrics import mean_absolute_error
lrr_mae=mean_absolute_error(y_test,a)
lrr_mae

0.2552433448620408

# Random Forest Regression

In [256]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(x_train,y_train)

C:\Users\CS-L2-PC03\AppData\Local\Temp\ipykernel_10728\4077294850.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [257]:
b=rfr.predict(x_test)
#b

In [258]:
rfrr2=r2_score(y_test,b)

In [259]:
from sklearn.metrics import mean_squared_error
rfrr_mse=mean_squared_error(y_test,a)
rfrr_mse

0.10221131059334207

In [260]:
import numpy as np
rfrr_rmse=np.sqrt(mse)
rfrr_rmse

0.31970503685951224

In [261]:
from sklearn.metrics import mean_absolute_error
rfrr_mae=mean_absolute_error(y_test,a)
rfrr_mae

0.2552433448620408

# support vector regression

In [262]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
svr=SVR(kernel='rbf')
svr.fit(x_train,y_train)

C:\Users\CS-L2-PC03\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [263]:
c=svr.predict(x_test)

In [264]:
svrr2=r2_score(y_test,c)
svrr2

0.7096033892596181

In [265]:
from sklearn.metrics import mean_squared_error
svrr_mse=mean_squared_error(y_test,a)
svrr_mse

0.10221131059334207

In [266]:
import numpy as np
svrr_rmse=np.sqrt(mse)
svrr_rmse

0.31970503685951224

In [267]:
from sklearn.metrics import mean_absolute_error
svrr_mae=mean_absolute_error(y_test,a)
svrr_mae

0.2552433448620408

# lasso Regression

In [268]:
from sklearn.linear_model import Lasso
la=Lasso(alpha=3.0)
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [269]:
d=la.predict(x_test)
#d

In [270]:
lar2=r2_score(y_test,d)
lar2

-0.08514252465036676

In [271]:
from sklearn.metrics import mean_squared_error
lar_mse=mean_squared_error(y_test,a)
lar_mse

0.10221131059334207

In [272]:
import numpy as np
lar_rmse=np.sqrt(mse)
lar_rmse

0.31970503685951224

In [273]:
from sklearn.metrics import mean_absolute_error
lar_mae=mean_absolute_error(y_test,a)
lar_mae

0.2552433448620408

# comparing all types of regression

In [274]:
ser1=['Linear Regression','Random Forest Regression','Support Vector Regression','Lasso Regression']
ser2=[lrr2,rfrr2,svrr2,lar2]
ser3=[lrr_mse,rfrr_mse,svrr_mse,lar_mse]
ser4=[lrr_rmse,rfrr_rmse,svrr_rmse,lar_rmse]
ser5=[lrr_mae,rfrr_mae,svrr_mae,lar_mae]
df=pd.DataFrame({'regression type':ser1,'r2_score':ser2,'mse':ser3,'rmse':ser4,'mae':ser5})
df

             regression type  r2_score       mse      rmse       mae
0          Linear Regression  0.729717  0.102211  0.319705  0.255243
1   Random Forest Regression  0.473010  0.102211  0.319705  0.255243
2  Support Vector Regression  0.709603  0.102211  0.319705  0.255243
3           Lasso Regression -0.085143  0.102211  0.319705  0.255243