In [1]:
import numpy as np 
import pandas as pd
i = pd.Index(['Karnataka','Maharastra','Gujarat'])
df3 = pd.DataFrame({'population':[1.2,3.4,2.2],'capital':['Bengalure','Mumbai','GandhiNagar']},i)
df3

            population      capital
Karnataka          1.2    Bengalure
Maharastra         3.4       Mumbai
Gujarat            2.2  GandhiNagar

In [2]:
df4 = df3.append(pd.DataFrame([[1.5,'Tiruvanantapuram']],index=['Kerala'],columns=['population','capital']))
df4

C:\Users\CS-L2-PC03\AppData\Local\Temp\ipykernel_7788\865780808.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df3.append(pd.DataFrame([[1.5,'Tiruvanantapuram']],index=['Kerala'],columns=['population','capital']))

            population           capital
Karnataka          1.2         Bengalure
Maharastra         3.4            Mumbai
Gujarat            2.2       GandhiNagar
Kerala             1.5  Tiruvanantapuram

In [3]:
df5 = pd.DataFrame({'cm':['Bomay','xyz','abc','zyx']} ,index=['Karnataka','Maharastra','Gujarat','Kerala'])
pd.concat([df4 , df5] , axis=1)

            population           capital     cm
Karnataka          1.2         Bengalure  Bomay
Maharastra         3.4            Mumbai    xyz
Gujarat            2.2       GandhiNagar    abc
Kerala             1.5  Tiruvanantapuram    zyx