# import MySQL.connecter

In [6]:
import mysql.connector as con

# connection to database

In [5]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000298500D43D0>

# creating database

In [7]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
cur = new_db.cursor()
cur.execute( " CREATE DATABASE mydata")

# check if database exists (created)

In [9]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
cur = new_db.cursor()
cur.execute( " SHOW DATABASES")
for a in cur:
    print(a)

('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# creating table and shoe data

In [31]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "CREATE TABLE student1 (name varchar(200), regno varchar(20))"
cur.execute(query)

# list tables

In [26]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "SHOW TABLES"
cur.execute(query)
for n in cur:
    print(n)

('student',)

# inserting data

In [33]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "INSERT INTO student1 (name , regno) VALUES  ('jahid','393CS20008') "
cur.execute(query)
new_db.commit()
a= cur.rowcount
print(a,"new row insereted")

1 new row insereted

# inserting multiple values

In [39]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "INSERT INTO student1 (name , regno) VALUES (%s , %s)"
values = [ ("jahid" ,"393CS20008"),
           ("vivek ","393CS20032"),
           ("prajwal","393CS20022")
         ]
cur.executemany(query,values)
new_db.commit()
a= cur.rowcount
print(a,"new row insereted")

3 new row insereted

# display the record from table

In [42]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "SELECT * FROM  student1"
cur.execute(query)
for n in cur:
    print(n)

('rahul', '393CS20008')
('jahid', '393CS20008')
('jahid', '393CS20008')
('vivek ', '393CS20032')
('prajwal', '393CS20022')

# display particular record from database

In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "SELECT name FROM  student1"
cur.execute(query)
for n in cur:
    print(n)

('rahul',)
('jahid',)
('jahid',)
('vivek ',)
('prajwal',)