# Time Series Operations

Time series include the date and time for every record and can fetch the records of dataframe. We can find out the data within a certain range of date and time by using pandas module named Time series

In [23]:
import numpy as np                                        
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end = '11/1/2022',freq = 'min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [19]:
import numpy as np                            #hours = H
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end = '11/1/2022',freq = 'H')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 01:00:00',
               '2022-10-01 02:00:00', '2022-10-01 03:00:00',
               '2022-10-01 04:00:00', '2022-10-01 05:00:00',
               '2022-10-01 06:00:00', '2022-10-01 07:00:00',
               '2022-10-01 08:00:00', '2022-10-01 09:00:00',
               ...
               '2022-10-31 15:00:00', '2022-10-31 16:00:00',
               '2022-10-31 17:00:00', '2022-10-31 18:00:00',
               '2022-10-31 19:00:00', '2022-10-31 20:00:00',
               '2022-10-31 21:00:00', '2022-10-31 22:00:00',
               '2022-10-31 23:00:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=745, freq='H')

In [20]:
import numpy as np
import pandas as pd                              #weeks = w
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end = '11/1/2022',freq = 'W')
print(time)

DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [14]:
import numpy as np
import pandas as pd                                    #days = D
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end = '11/1/2022',freq = 'D')
print(time)

DatetimeIndex(['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04',
               '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08',
               '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16',
               '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20',
               '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01'],
              dtype='datetime64[ns]', freq='D')

In [21]:
import numpy as np
import pandas as pd                     #months = M
from datetime import datetime
time = pd.date_range(start ='1/1/2022', end = '12/1/2022',freq = 'M')
print(time)

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', freq='M')

In [22]:
import numpy as np
import pandas as pd                         #seconds = S
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end = '11/1/2022',freq = 'S')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:00:01',
               '2022-10-01 00:00:02', '2022-10-01 00:00:03',
               '2022-10-01 00:00:04', '2022-10-01 00:00:05',
               '2022-10-01 00:00:06', '2022-10-01 00:00:07',
               '2022-10-01 00:00:08', '2022-10-01 00:00:09',
               ...
               '2022-10-31 23:59:51', '2022-10-31 23:59:52',
               '2022-10-31 23:59:53', '2022-10-31 23:59:54',
               '2022-10-31 23:59:55', '2022-10-31 23:59:56',
               '2022-10-31 23:59:57', '2022-10-31 23:59:58',
               '2022-10-31 23:59:59', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=2678401, freq='S')

In [25]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
print(df)

                 DateTime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [33]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
df['DATA'] = np.random.randint(0,100,size=(len(time)))
print(df)
#df.head()
df.head(20)

                 DateTime  DATA
0     2022-10-01 00:00:00    92
1     2022-10-01 00:01:00    25
2     2022-10-01 00:02:00    26
3     2022-10-01 00:03:00    73
4     2022-10-01 00:04:00    40
...                   ...   ...
44636 2022-10-31 23:56:00    55
44637 2022-10-31 23:57:00    74
44638 2022-10-31 23:58:00    36
44639 2022-10-31 23:59:00    96
44640 2022-11-01 00:00:00    75

[44641 rows x 2 columns]

              DateTime  DATA
0  2022-10-01 00:00:00    92
1  2022-10-01 00:01:00    25
2  2022-10-01 00:02:00    26
3  2022-10-01 00:03:00    73
4  2022-10-01 00:04:00    40
5  2022-10-01 00:05:00    56
6  2022-10-01 00:06:00    25
7  2022-10-01 00:07:00    91
8  2022-10-01 00:08:00    78
9  2022-10-01 00:09:00    79
10 2022-10-01 00:10:00    31
11 2022-10-01 00:11:00    79
12 2022-10-01 00:12:00    30
13 2022-10-01 00:13:00    58
14 2022-10-01 00:14:00    56
15 2022-10-01 00:15:00    85
16 2022-10-01 00:16:00    64
17 2022-10-01 00:17:00    34
18 2022-10-01 00:18:00    88
19 2022-10-01 00:19:00     8