In [12]:
from pandas import DataFrame
df = DataFrame(
                    [
                        ['aryan','singh','full-time','administration',2,1000000],
                        ['rohan','agarwal','intern','technical',3,500000],
                        ['riya','shah','full-time','administration',5,101],
                        ['yash','bhatia','part-time','technical',7,200000],
                        ['sidhant','khanna','full-time','administration',6,100000],
                        
                    ],columns=['Frist Name','Last Name','Type','Department','yoE','Salary']
             )
df

  Frist Name Last Name       Type      Department  yoE   Salary
0      aryan     singh  full-time  administration    2  1000000
1      rohan   agarwal     intern       technical    3   500000
2       riya      shah  full-time  administration    5      101
3       yash    bhatia  part-time       technical    7   200000
4    sidhant    khanna  full-time  administration    6   100000